.projects {
    padding: 90px 0;
    background-color: #000;
    position: relative;
}
.projects h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.projects p {
    color: #B8B8B8;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    margin: 15px auto 30px auto;
}
.projects .nav-pills {
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;
    background: rgb(255, 255, 255, 0.1);
}
.nav-pills .nav-item {
    width: 33.3%;
}
.nav-pills .nav-link {
    padding: 18px 0;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    z-index: 0;
    transition: 0.3s ease-in-out;
    position: relative;
}
.nav-pills .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.nav-pills .nav-link.active {
    box-shadow: 0 0 0 1px #ffffff;
}

.proj-box {
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    height: 230px;
}
.proj-box img {
    height: 100%;
}
.proj-box::before {
    position: absolute;
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.8;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}
.proj-box:hover::before {
    height: 100%;
}
.proj-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
}
.proj-box:hover .proj-text {
    opacity: 1;
    top: 50%;
}
.proj-text h4 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
}
.proj-text span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;
}

@media (max-width: 520px) {
    .projects .nav-pills {
        width: 90%;
    }
}
@media (max-width: 990px) and (min-width: 520px) {
    .proj-box {
        height: 150px;
    }
} 