.about {
  padding: 40px 0;
}

.about-tag {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 15px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(170, 54, 124, 0.5),
    rgba(74, 47, 189, 0.5)
  );
}

.about h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about p {
  color: #b8b8b8;
  line-height: 1.5;
  font-size: 18px;
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #aa367c;
}

.stats {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.stat-card {
  background: #151515;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  min-width: 350px;
  transition: .3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h3 {
  color: #f733f7;
  font-size: 30px;
  margin-bottom: 5px;
}

.tech-stack {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tech-stack svg {
  font-size: 40px;
  transition: .3s;
}

.tech-stack svg:hover {
  color: #f733f7;
  transform: scale(1.15);
}


@media (max-width: 992px) {
  .about {
    text-align: center;
  }

  .stats {
    justify-content: center;
  }

  .tech-stack {
    justify-content: center;
  }

  .about-image {
    margin-bottom: 40px;
  }
}