.footer {
    background: url(../../assets/img/footer-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.newsletter-box {
    background-color: #ffffff;
    color: #121212;
    border-radius: 40px;
    padding: 80px 100px;
    margin-bottom: 40px;
    margin-top: -80px;
}
.newsletter-box h3 {
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1em;
}
.email-box {
    /* background: #fff; */
    /* border-radius: 20px; */
    padding: 5px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}
.email-box::before {
    position: absolute;
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    border-radius: 20px;
    z-index: -1;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
}
.email-box::after {
    position: absolute;
    content: "";
    background: #fff;
    border-radius: 20px;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.email-box input {
    width: 100%;
    color: #121212;
    font-weight: 500;
    background: transparent;
    border: 0;
    padding: 0 15px;
}
.email-box button {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 20px 50px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 15px;
}
.footer .footer-logo {
    display: block;
    width: 30%;
    font-weight: 500;
    font-size: 40px;
    text-align: center
}
.footer-logo .dot {
    color: #AA367C;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .email-box {
        margin-top: 15px;
    }
}
@media (max-width: 990px) {
    .newsletter-box {
        padding: 80px 50px;
    }
}
@media (max-width: 520px) {
    .newsletter-box {
        padding: 80px 20px;
    }
}
@media (max-width: 320px) {
    .email-box button {
        padding: 20px;
    }
}